html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin:0;
    padding:0;
}
/** General **/
body {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.container {
    width: 80%;
    max-width: 800px;
    margin: 30px 0 40px;
    box-shadow: 0 0 30px 10px #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (min-width:720px) {
    div.container {
        width: 90%;
    }
}
header {
    padding: 20px 0;
}
h1, h2, h3, .name {
    text-transform: uppercase;
}
h1, h2 {
    background-color:#afdef8;
    border-radius: 10px;
    padding: 2px 5px;
}
h2 {
    margin: 30px 0 20px;
    text-align: center;
}
main {
    display: flex;
    flex-flow: column;
    align-items: center;
}
@media only screen and (min-width:720px) {
    main {
        flex-flow: row wrap;
        align-items: flex-start;
    }
}
ul {
    list-style: none;
}
div.message {
    width: 80%;
}
div.message form {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
div.message input {
    padding: 5px;
}
div.message textarea {
    resize: none;
    width: inherit;
}
div.message button {
    display: block;
    text-align: center;
    padding: 2px 10px;
}

/** Main Section **/

section.main {
    display: contents;
}
div.profile-picture {
    display: flex;
    justify-content: center;
}
div.profile-picture img {
    width: 95%;
    height: 95%;
    max-width: 250px;
    border-radius: 50%;
}
div.name {
    font-size: 2em;
}
h3 {
    text-align: center;
}
@media only screen and (min-width:720px) {
    section.main {
        display: block;
        padding-left: 2%;
        width: 65%;
        order: 1;
    }
    section.main img {
        display: none;
    }
    div.name {
        max-width: 75%;
        margin-left: 1%;
    }
    h3 {
        text-align: left;
    }
}
div.name h2 {
    background: none;
    font-weight: normal;
    margin-top: 0;
}
div.name span {
    font-size: 5rem;
}
div.profile, div.education, div.experience {
    width: 80%;
}
div.profile h2, div.education h2, div.experience h2 {
    text-align: left;
}
div.profile p {
    text-align: justify;
}
table th.year {
    width: 85px;
    padding-bottom: 20px;
}
.separation {
    margin-bottom: 20px;
    display: block;
}
table tbody tr td:nth-child(2) {
    font-weight: bold;
}
@media screen and (max-width: 719px) {
    section.main div.message {
        display: none;
    }
}

/** Side Section **/

section.side {
    background-color: #afdef8;
    width: 100%;
    padding: 10px 0 10%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
@media only screen and (max-width:719px) {
section.side div.profile-picture img {
    display: none;
}
}
@media only screen and (min-width:720px) {
    section.side {
        width: 35%;
    }
}
div.contact {
    display: contents;
}
div.contact ul.contact-information {
    margin-top: 5px;
}
div.contact ul.contact-information li {
    margin-bottom: 10px;
}
div.contact ul.contact-information > li span {
    display: inline-block;
    min-width: 55px;
    background-color: #ffffff;
    padding: 2px 8px 0 0;
    margin-right: 8px;
    text-align: right;
    border-radius: 0px 7px 7px 0;
}
ul.links li {
    display: inline-block;
    background-color: #0a0947;
    border-radius: 10px;
    margin: 10px 10px 0;
}
a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
a:visited, a:focus, a:active {
    color: #000000;
}
ul.links li:hover {
    background-color: #6bc8fa;
    border-radius: 10px;
}
div.skills, div.projects, div.interests {
    display: contents;
}
div.skills table ::-webkit-meter-optimum-value {
    background: #0a0947;
}
@media screen and (min-width:720px) {
    section.side div.message {
        display: none;
    }
}
